{% extends "accounts/index.html" %}
{% load crispy_forms_tags %}
{% block start %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="content-section col-md-8 col-md-offset-2">
    <form method="POST" class="custom-form">
	{% csrf_token %}
	<fieldset class="form-group">
	{{ form|crispy}}
	</fieldset>
	<center>
        <button class="btn btn-outline-info custom-login-btn" type="submit"><span class="glyphicon glyphicon-check"></span>  Sign Up</button>
	</center>
	<br />
	<sub class="custom-sub"><a href="{% url 'login' %}" class="login-link">Already have an account ?</a></sub>
</form>
</div>
{% endblock start %}
